<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block meta %}{% endblock %}
</head>

<body>
    <div>
        <header class="py-4 mx-auto px-4">
            <nav class="flex items-center justify-between">
                <h1 class="text-3xl font-bold text-gray-900"><a href="/">My Diary</a></h1>
                <ul class="flex space-x-4">
                    {# session.user_id の有無でログイン状態を判定する #}
                    {% if session.get('user_id') %}
                        <li><a href="{{ url_for('auth.signout') }}" class="text-blue-500 hover:underline">サインアウト</a></li>
                        <li><a href="{{ url_for('diary.dashboard') }}" class="text-blue-500 hover:underline">日記を作成・閲覧</a></li>
                        <li><a href="{{ url_for('diary.delete_user_page') }}" class="text-blue-500 hover:underline">ユーザー削除</a></li>
                    {% else %}
                        <li><a href="{{ url_for('auth.signin') }}" class="text-blue-500 hover:underline">ログイン</a></li>
                        <li><a href="{{ url_for('auth.signup') }}" class="text-blue-500 hover:underline">ユーザー作成</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
    </div>
    {% block content %}{% endblock %}
</body>

</html>
