{% extends "base.html" %}

{% block meta %}
    <title>ユーザ作成</title>
{% endblock %}

{% block content %}
<div class="container mx-auto flex justify-center items-center h-screen">
    <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 w-96">
        <h1 class="text-2xl font-bold mb-4">ユーザ作成</h1>
        <form action="{{ url_for('auth.register') }}" method="post">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class="flashes bg-red-100 border-l-4 border-red-500 text-red-700 p-4 mb-4">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            <div class="mb-4">
                <label for="email" class="block text-gray-700 text-sm font-bold mb-2">メール</label>
                <input type="email" name="email" id="email" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            </div>
            <div class="mb-4">
                <label for="password" class="block text-gray-700 text-sm font-bold mb-2">パスワード（8文字以上）</label>
                <input type="password" name="password" id="password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            </div>
            <div class="mb-4">
                <label for="username" class="block text-gray-700 text-sm font-bold mb-2">ユーザー名</label>
                <input type="text" name="username" id="username" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            </div>
            <div class="flex items-center justify-between">
                <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">作成</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
