{% extends "base.html" %}

{% block meta %}
    <title>Top</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}

{% block content %}
<div class="flex justify-center items-center h-screen bg-gray-900 text-white">
    <div class="text-center">
        <h1 class="text-4xl font-bold mb-8">My Diary</h1>
        <div class="flex justify-center">
            <h1 class="text-2xl"><a href="{{ url_for('dashboard') }}" class="underline">日記を作成・閲覧</a></h1>
        </div>
    </div>
</div>
{% endblock %}
